.allGender{
    display: flex;
    flex-wrap: wrap;
}

a.gender{
    text-decoration-line: none !important;
}
.badge{
    float: right;
}

.badge a{
    text-decoration-line: none !important;
    color: #000 !important;
}

.badge:hover{
    background-color: rgb(255, 215, 96) !important;
}